@font-face {
    font-family: 'dana';
    src: url('./fonts/DanaFaNum-Regular.ttf');
}

@font-face {
    font-family: 'dana medium';
    src: url('./fonts/DanaFaNum-Medium.ttf');
}
@font-face {
    font-family: 'dana light';
    src: url('./fonts/DanaFaNum-Light.ttf');
}
@font-face {
    font-family: 'mor';
    src: url('./fonts/Morabba-Bold.woff');
}


@font-face {
    font-family: 'dana bold';
    src: url('./fonts/DanaFaNum-DemiBold.ttf');
}



*{
    font-family: 'dana';
}

body{
    background-color: rgb(243 244 246 /1 ) !important
}