@font-face {
    font-family: 'dana';
    src: url('./fonts/DanaFaNum-Regular.ttf');
}

@font-face {
    font-family: 'dana medium';
    src: url('./fonts/DanaFaNum-Medium.ttf');
}
@font-face {
    font-family: 'dana light';
    src: url('./fonts/DanaFaNum-Light.ttf');
}
@font-face {
    font-family: 'mor';
    src: url('./fonts/Morabba-Bold.woff');
}


@font-face {
    font-family: 'dana bold';
    src: url('./fonts/DanaFaNum-DemiBold.ttf');
}



*{
    font-family: 'dana';
}

body{
    background-color: rgb(243 244 246 /1 ) !important
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #aaa; 
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #999; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }